[
    {lager, [
        {handlers, [
            {lager_console_backend, [{level, error}]},
            {lager_file_backend, [
                {level, debug},
                {file, "log/debug.log"},
                {size, 104857600},
                {date, "$D0"},
                {count, 12}
            ]},
            {lager_file_backend, [
                {level, info},
                {file, "log/info.log"},
                {size, 104857600},
                {date, "$D0"},
                {count, 12}
            ]},
            {lager_file_backend, [
                {file, "log/error.log"},
                {level, error},
                {size, 104857600},
                {date, "$D0"},
                {count, 12}
            ]}
        ]}
    ]}
].
